/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
/* head{
    background-color: #562EFF;
} */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 734px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
    height: 652px;
}
/* .player{
    width: px;
} */
/* -------- */
.top-players{
    margin-bottom: 30px;
}
.section-taitle{
    color: blue;
    font-size: 24px;
    margin-top: -8px;
    /* padding-left: 28px; */
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    justify-items: center
}
.player{
   display: flex; 
   align-items: center;
}
.player img{
    width: 56px;
    height: 56px; 
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #d1d1d1;
    margin-bottom: 27px;
}
/* -----------top blog--------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog img{
width: 177px;
height: 117px;
}
.blog-author{
    padding-left: 5px;
    padding-bottom: 5px;
    color: black;
    margin-bottom: 5px;
}
.blog-info{
  margin-left: 16px;
font-size: 16px;
margin-top: -13px
 
}
.blog-taitle{
font-size: 20px;
}
.blog-taitle a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
    padding-bottom: 5px;
}

/* couses------------------- */
.course-container{
    background-color: #FFFFFF;
    width: 734px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
    height: 400px;
}

.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 60px;
}

.course img{
 width: 177px;
height: 117px;
}
.filled{
color: gold;
}
.course-info{
    display: flex;
}
.clock{
    padding-left: 2px;
    margin-left: 9px;
    border-radius: 6px;
    background-color: rgb(201, 112, 112);
}
.course-details{
    /* border: 5px;
    margin: 10px;
    padding: 1px; */
}
 .hat{
    display: flex;
 }
 .hat img{
    width: 56px;
    height: 56px;
 }
 
 
